*{
    padding: 0%;
    margin: 0%;

}
body{
    
    height: auto;
    width: 100%;
    background-image: url(loginbg.png);
    background-repeat: no-repeat;
     padding: 300px;
     margin-left: 200px; 
     

}
.login-box{
    background-color: #ffffff;
    width: 350px;
    height: 250px;
     border-radius: 20px;
     padding: 20px;

}
.login-box{
    width: 350px;
    height: 200px;
    justify-content: center;

}
h1{
    text-align: center;
    padding: 20px;
    font-size: 64px;
    font-family:poppins;
    
}
img{
    width: 120px;
    height: 50px;
    margin-left: 90px;
    padding: 4%;
    
}
.textbox{
    padding: 5px;
    margin:5px;
}