*{
    padding: 0%;
    margin: 0%;

}
body{
    
    height: auto;
    width: 100%;
    background-image: url(loginbg.png);
    background-repeat: no-repeat;
     padding: 300px;
     margin-left: 200px; 
     

}
.login-box{
    background-color: #ffffff;
    width: 350px;
    height: 250px;
     border-radius: 20px;
     padding: 20px;

}
#logo{
    

}